* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #333333;
  color: white;
}

ol {
  width: auto;
  height: 100%;
}

li {
  border-bottom: 1px solid white;
  padding: 5px;
}